/* style/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    box-sizing: border-box;
}

#container, #user-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #4cae4c;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#user-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#user-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    position: relative;
    box-sizing: border-box;
}

#user-list li:hover {
    background-color: #f9f9f9;
}

#user-list span {
    display: block;
    margin-right: 10px;
}

.remove-button {
    display: none;
    background-color: #d9534f;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.remove-button:hover {
    background-color: #c9302c;
}

#user-list li:hover .remove-button {
    display: inline-block; /* Mostrar botão ao passar mouse sobre o item */
}
